@font-face {
  font-family: ProximaExtra;
  src: url("proximaheader.otf");
}
@font-face {
  font-family: ProximaBold;
  src: url("proximabold.otf");
}

@font-face {
  font-family: Proxima;
  src: url("proxima.otf");
}

body {
  font-family: Proxima, sans-serif;
  min-width: 320px;
  background-color: #efefef;
}


.button {
  padding: 0px 20px;
  max-width: 200px;
  height: 30px;
  font-size: 16px;
  line-height: 30px;
  font-family: Proxima, sans-serif;
  font-weight: bold;
  background-color: #C90010;
  border-radius: 15px;
  border: 0px;
  box-shadow: none;
  outline: none;
  cursor: pointer;
  color: white;
  text-align: center;
  margin-bottom: 10px;
  display: inline-block;

  -webkit-transition: ease 0.75s;
  -moz-transition: ease 0.75s;
  -ms-transition: ease 0.75s;
  -o-transition: ease 0.75s;
  transition: ease 0.75s;
}

.button:hover {
  background-color: #af010e;
  text-decoration: underline;
}

.login {
  text-align: center;
}

.login .logo {
  width: 150px;
  text-align: center;
  margin: 0 auto;
  height: auto;
}

.login .tabbed {
  text-align: left;
}

/* Style the tab */
.login .tab {
  overflow: hidden;
  border: 1px solid #ccc;
  border-top: 0px;
  background-color: #0072ff;
}

.login .tablinks {
  font-family: Proxima, sans-serif;
  font-weight: bold;
  color: white;
}
/* Style the buttons inside the tab */
.login .tab div {
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
  font-size: 17px;
}

/* Change background color of buttons on hover */
.login .tab div:hover {
  background-color: #f2f2f2 !important;
  color: #0072ff !important;
}

/* Create an active/current tablink class */
/* .login .tab div.active {
  background-color: white;
  color: #0072ff;
} */

/* Style the tab content */
.login .tabcontent {
  display: none;
  padding: 0;
  border-top: none;
  margin: 0 auto;
  background-color: #EFEFEF;
  overflow-y: scroll;
  overflow-x: hidden;
  height: 100%;
  min-height: 100%;
}

.login .tab, .login .tabcontent {
  width: 100%;
}

.tabcontent form {
  text-align: center;
}

.tabcontent h3 {
  font-size: 30px;
  text-align: center;
  font-weight: bold;
  margin-top: 10px;
}

.tabcontent input, select {
  width: 100%;
  border: 1px solid #dbdbdb;
  outline: none;
  box-shadow: none;
  height: 40px;
  line-height: 40px;
  color: #444;
  font-family: Proxima, sans-serif;
  font-size: 17px;
  text-indent: 18px;
  border-radius: 20px;
  margin: 3px 5% 3px 5%;
}

.tabcontent select {
  text-indent: 12px;
}

.tabcontent a, .tabcontent a:visited{
  color: #444;
  font-size: 14px;
  text-decoration: none;
  text-align: center;
}
.tabcontent a:hover {
  text-decoration: underline;
  text-align: center;
}

.tabcontent form button {
  width: 50%;
  margin-top: 10px;
  text-align: center;
}

.cancel {
	background-color: #C1C1C1;
}

#twoBit, #threeBit {
  text-align: center;
  width: 100%;
  height: 100%;
}

#twoBit table, #threeBit table  {
  margin: 10px auto;
  text-align: center;
}

#twoBit table td, #threeBit table td {
  height: 20px;
  min-height: 20px;
  min-width: 20px;
  width: 20px;
  background-color: #FFFFFF;
  border: 1px solid #CCC;
}

.cancel:hover {
	background-color: #a5a5a5;
}

@media (max-width: 900px) {

}

@media (max-width: 700px) {

}

@media (max-width: 420px) {

  #twoBit table td, #threeBit table td {
    height: 15px;
    min-height: 15px;
    min-width: 15px;
    width: 15px;
    background-color: #FFFFFF;
    border: 1px solid #CCC;
  }

}
